.book-form-main {
    display: flex;
    justify-content: center;
}

.book-form-container {
    background-color: var(--backgroundLight);
    padding: 38px 145px 90px;
    width: 1440px;
}

.book-form-back {
    color: var(--textGray);
    text-decoration: none;
}

.book-form-main h2 {
    font-family: playfair;
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
}

.book-form {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    padding: 54px 49px 67px;
}

.book-form-left {
    display: flex;
    flex-direction: column;
}

.book-form-image-title {
    color: var(--textGray);
    font-size: 14px;
}

.book-form-image-container {
    height: 488px;
    margin: 8px 0 21px;
    overflow: hidden;
    position: relative;
    width: 488px;
}

.book-form-image {
    height: 990.21px;
    left: -84.72px;
    position: absolute;
    top: -395px;
    width: 658.56px;
}

.book-form-image-upload {
    align-self: flex-end;
    color: var(--darkGray);
}


.book-form-right {
    display: flex;
    flex-direction: column;
    width: 435px;
}

.book-form-row:first-of-type {
    margin: 0;
}

.book-form textarea {
    height: 356px;
    resize: none;
    scrollbar-color: var(--textGray) var(--backgroundLight);
    scrollbar-width: thin;
}

.book-submit-btn {
    width: 322px;
}

/* ==========================================================
   responsive
   ========================================================== */

@media (max-width: 767px) {
    .book-form-main {
        flex-direction: column;
    }

    .book-form-container {
        background-color: var(--backgroundLight);
        padding: 0;
        padding: 53px 0 80px;
        width: 100%;
    }

    .book-form-container .book-form-back,
    .book-form-container h2 {
        padding: 0 20px;
    }

    .book-form-container h2 {
        font-size: 30px;
        margin-top: 5px;
    }

    .book-form {
        flex-direction: column;
        margin-top: 34px;
        padding: 0;
    }

    .book-form-image-container {
        height: 335px;
        width: 335px;
    }

    .book-form-image {
        height: 679px;
        left: -59px;
        top: -273px;
        width: 452px;
    }

    .book-form-left {
        padding: 42px 20px 0;
    }

    .book-form-right {
        padding: 30px 20px 47px;
        width: 100%;
    }

    .book-submit-btn {
        margin-top: 44px;
        width: 100%;
    }
}