.book-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.book-card-link {
    text-align: left;
}

.book-tag {
    background-color: var(--availableTag);
    color: #fff;
    font-weight: 500;
    font-size: 8.88px;
    text-align: center;
    padding: 3.7px 13.31px;
    border-radius: 29.58px;
}

.book-tag.indisponible {
    background-color: var(--unavailableTag);
}

.book-card .book-tag.indisponible {
    display: block;
}

.book-card .book-tag {
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 12px;
    display: none;
}

.book-card .book-content {
    display: flex;
    width: 200px;
    height: 124px;
    gap: 10px;
    flex-direction: column;
    background-color: #fff;
    padding: 21px 15px;
    border-radius: 10px;
}

.book-card .book-content .book-title {
    font-size: 16px;
    color: #000;
}

.book-card .book-content .book-author {
    font-size: 14px;
    color: var(--textGray);
}

.book-card .book-content .book-seller {
    font-style: Italic;
    font-size: 10px;
    color: var(--textGray);
    margin-top: 14px;
}


/* ==========================================================
   responsive
   ========================================================== */

@media (max-width: 767px) {

    .book-card .book-content {
        padding: 16px 15px 18px;
        gap: 5px;
        height: auto;
    }

    .book-card .book-content,
    .book-card img {
        width: 160px;
    }

    .book-card .book-content .book-title {
        font-size: 13px;
    }

    .book-card .book-content .book-author {
        font-size: 11px;
    }

    .book-card .book-content .book-seller {
        font-size: 8px;
        margin-top: 16px;
    }
}