.error {
    align-items: center;
    background-color: var(--backgroundLight);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px - 61px);
    justify-content: center;
}

.error-code {
    font-family: playfair;
    font-size: 100px;
}

.error-title {
    color: var(--darkGray);
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.error-link {
    color: var(--textGray);
    margin-top: 5px;
}

.error-page-removed {
    font-size: 12px;
    margin-top: 5px;
}

.error-go-home {
    margin-top: 30px;
    padding: 0 20px;
}