header nav {
    align-items: center;
    background-color: var(--lightGray);
    display: grid;
    height: 80px;
    min-height: 80px;
    grid-template-columns: 1fr 150px 212px 95px 193px 158px 56px 170px 156px 130px 121px 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    position: relative;
}

header nav .logo {
    justify-self: flex-start;
}

header nav button {
    border: none;
    color: var(--darkGray);
    font-size: 14px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 400;
}

header nav button:hover,
header nav button.active {
    font-weight: 600;
}


header nav .line {
    background-color: var(--textGray);
    height: 19px;
    width: 1px;
    opacity: 20%;
}

header nav .messaging {
    display: flex;
    align-items: center;
    gap: 1px;
}

header nav .messagingTxt {
    width: 80px;
}

header nav .messaging img {
    margin-top: 4px;
    height: 13px;
}

header nav .account img {
    vertical-align: text-bottom;
}

header nav .messaging .bubble {
    background-color: var(--darkGray);
    border-radius: 6.75px;
    height: 15px;
    color: var(--lightGray);
    font-size: 8.25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
}

header nav::before {
    content: none;
}

/* ==========================================================
   responsive
   ========================================================== */

@media (max-width: 767px) {

    header nav {
        min-height: 56px;
        height: 56px;
        display: flex;
        padding-left: 20px;
        cursor: pointer;
    }

    header nav::before {
        position: absolute;
        content: url(../img/burger.svg);
        right: 38px;
        cursor: pointer;
        top: 20px;
        transition: transform 500ms ease;
    }

    header nav.open::before {
        transform: rotate(-90deg);
    }

    header nav .spacer,
    header nav .line {
        display: none;
    }

    header nav .logo img {
        width: 78px;
    }

    header nav form.flex:not(.logo) {
        position: absolute;
        right: 0;
        z-index: 1;
        background-color: var(--backgroundLight);
        width: 100%;
        height: 60px;
        align-items: center;
        padding-right: 10px;
        border-bottom: 1px solid var(--lightGray);
        display: none;
    }

    header nav form.flex.home {
        bottom: -60px;
    }

    header nav form.flex.books {
        bottom: -120px;
    }

    header nav form.flex.messaging {
        bottom: -180px;
    }

    header nav form.flex.account {
        bottom: -240px;
    }

    header nav form.flex.sign {
        bottom: -300px;
    }

    header nav.open form.flex:not(.logo) {
        display: flex;
        justify-content: center;
    }

    header nav button {
        font-size: 20px;
    }

    header nav .messagingTxt {
        width: auto;
    }

    header nav .messaging img,
    header nav .messaging .bubble,
    header nav .account img {
        height: 20px;
    }

    header nav .messaging .bubble {
        font-size: 12px;
    }

}