header nav {
    align-items: center;
    background-color: var(--lightGray);
    display: grid;
    height: 80px;
    min-height: 80px;
    grid-template-columns: 1fr 150px 212px 95px 193px 158px 56px 170px 156px 130px 121px 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

header nav .logo {
    justify-self: flex-start;
}

header nav a,
header nav a:visited {
    border: none;
    color: var(--darkGray);
    font-size: 14px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 400;
}

header nav a:hover,
header nav a.active {
    font-weight: 600;
}


header nav .line {
    background-color: var(--textGray);
    height: 19px;
    width: 1px;
    opacity: 20%;
}

header nav .messaging {
    display: flex;
    align-items: center;
    gap: 1px;
}

header nav .messagingTxt {
    width: 80px;
}

header nav .messaging img {
    margin-top: 4px;
    height: 13px;
}

header nav .account img {
    vertical-align: text-bottom;
}

header nav .messaging .bubble {
    background-color: var(--darkGray);
    border-radius: 6.75px;
    height: 15px;
    color: var(--lightGray);
    font-size: 8.25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
}