.home-top-part {
    background-color: var(--lightGray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px 0 128px;
}

.home-top-part .left-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 75px;
    width: 404px;
}

.home-top-part-title {
    font-size: 36px;
}

.home-top-part-desc {
    font-size: 16px;
    font-weight: 300;
    margin-top: 14px;
}

.home-top-part-button {
    margin: 39px 0 71px;
    width: 152px;
}

.home-top-part .right-part {
    background-image: url("../img/hamza-nouasria.jpg");
    height: 539px;
    position: relative;
    width: 404px;
}

.home-top-part .right-part::after {
    bottom: -28px;
    color: var(--textGray);
    content: 'Hamza';
    font-size: 12px;
    position: absolute;
    right: 0;
    transform: skewX(-15deg);
}

.home-middle-part {
    align-items: center;
    background-color: var(--backgroundLight);
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    padding-top: 79px;
}

.home-middle-part-books {
    display: flex;
    gap: 39px;
    margin-top: 79px;
}

.home-middle-part-button {
    margin-top: 48px;
    width: 218px;
}

.home-bottom-part {
    align-items: center;
    background-color: var(--lightGray);
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    padding: 79px 0 163px;
}

.home-bottom-part-desc {
    color: var(--darkGray);
    font-size: 16px;
    font-weight: 300;
    margin-top: 22px;
    width: 397px;
}

.home-bottom-part-steps {
    display: flex;
    gap: 36px;
    margin-top: 38px;
}

.home-bottom-part-step {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    font-size: 14px;
    padding: 30px;
    text-align: center;
    width: 215px;
}

.home-bottom-part-button {
    margin-top: 48px;
    width: 218px;
}

.home-bottom-part-image {
    align-self: normal;
    background-image: url(../img/our_values.jpg);
    height: 230px;
    margin-top: 80px;
}

.home-bottom-part-our-values {
    margin-top: 77px;
    position: relative;
}

.home-bottom-part-our-values::after {
    bottom: -79px;
    content: url(../img/heart.svg);
    position: absolute;
    right: -70px;
}

.home-bottom-part-desc2 {
    align-self: flex-start;
    color: var(--darkGray);
    font-size: 16px;
    font-weight: 300;
    margin-top: 27px;
    width: 392px;
}

.home-bottom-part-signature {
    color: var(--textGray);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    margin-top: 37px;
}

/* ==========================================================
   responsive
   ========================================================== */

@media (max-width: 767px) {
    .home-top-part {
        align-items: center;
        flex-direction: column;
        padding: 0 0 15px;
    }

    .home-top-part .left-part {
        order: 1;
        padding: 52px 20px 0;
        width: auto;
    }

    .home-top-part-title {
        font-size: 30px;
    }

    .home-top-part-desc {
        padding-right: 40px;
    }

    .home-top-part .right-part {
        width: 100%;
    }

    .home-top-part .right-part::after {
        right: 26px;
    }

    .home-top-part-button {
        flex: 1;
        margin: 39px 0 33px;
    }

    .home-middle-part {
        padding-top: 48px;
    }

    .home-middle-part-title {
        font-size: 28px;
        padding: 0 55px;
        text-align: center;
    }

    .home-middle-part-books {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        margin-top: 34px;
    }

    .home-middle-part-books img {
        width: 160px;
    }

    .home-middle-part-books .book-card .book-content {
        font-size: 13px;
        gap: 3px;
        height: 99px;
        padding-top: 14px;
        width: auto;
    }

    .home-middle-part-books .book-card .book-content .book-author {
        font-size: 11px;
    }

    .home-middle-part-books .book-card .book-content .book-seller {
        font-size: 8px;
        margin-top: 14px;
    }

    .home-middle-part {
        padding-bottom: 81px;
    }

    .home-middle-part-form.flex {
        display: none;
    }

    .home-bottom-part {
        padding: 48px 0 195px;
    }

    .home-bottom-part .title {
        font-size: 28px;
    }

    .home-bottom-part-desc {
        font-size: 14px;
        padding: 0 20px;
        text-align: center;
        width: auto;
    }

    .home-bottom-part-steps {
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
        padding: 0 20px;
    }

    .home-bottom-part-step {
        height: 139px;
        width: auto;
    }

    .home-bottom-part-form {
        padding: 0 20px;
        width: 100%;
    }

    .home-middle-part-button {
        margin-top: 32px;
        width: 100%;
    }

    .home-bottom-part-image {
        background-image: url(../img/min/our_values.jpg);
        height: 425px;
        margin-top: 48px;
    }

    .home-bottom-part-our-values {
        margin-top: 32px;
        padding: 0 20px;
    }

    .home-bottom-part-our-values .title {
        font-size: 28px;
    }

    .home-bottom-part-desc2 {
        font-size: 14px;
        width: auto;
    }

    .home-bottom-part-signature {
        margin-top: 26px;
    }

    .home-bottom-part-our-values::after {
        bottom: -162px;
        height: 102px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        width: 120px;
    }
}