.home-top-part {
    display: flex;
    padding: 80px 0 128px;
    flex-direction: row;
    background-color: var(--lightGray);
    justify-content: center;
}

.home-top-part .left-part {
    width: 404px;
    display: flex;
    padding-right: 75px;
    flex-direction: column;
    justify-content: flex-end;
}

.home-top-part-title {
    font-size: 36px;
}

.home-top-part-desc {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 300;
}

.home-top-part-button {
    width: 152px;
    margin: 39px 0 71px;
}

.home-top-part .right-part {
    width: 404px;
    height: 539px;
    background-image: url("../img/hamza-nouasria.jpg");
    position: relative;
}

.home-top-part .right-part::after {
    content: 'Hamza';
    position: absolute;
    right: 0;
    bottom: -28px;
    font-size: 12px;
    color: var(--textGray);
    transform: skewX(-15deg);
}

.home-middle-part {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundLight);
    padding-top: 79px;
    padding-bottom: 64px;
    align-items: center;
}

.home-middle-part-books {
    display: flex;
    gap: 39px;
    margin-top: 79px;
}

.home-middle-part-button {
    margin-top: 48px;
}

.home-bottom-part {
    display: flex;
    padding: 79px 0 163px;
    flex-direction: row;
    background-color: var(--lightGray);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-bottom-part-desc {
    margin-top: 22px;
    font-size: 16px;
    font-weight: 300;
    color: var(--darkGray);
    width: 397px;
}

.home-bottom-part-steps {
    display: flex;
    margin-top: 38px;
    gap: 36px;
}

.home-bottom-part-step {
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    padding: 30px;
    text-align: center;
    width: 215px;
    display: flex;
    align-items: center;
}

.home-bottom-part-button {
    margin-top: 48px;
}

.home-bottom-part-image {
    margin-top: 80px;
    background-image: url(../img/our_values.jpg);
    height: 230px;
    align-self: normal;
}

.home-bottom-part-our-values {
    margin-top: 77px;
    position: relative;
}

.home-bottom-part-our-values::after {
    position: absolute;
    content: url(../img/heart.svg);
    right: -70px;
    bottom: -79px;
}

.home-bottom-part-desc2 {
    margin-top: 27px;
    width: 392px;
    align-self: flex-start;
    font-size: 16px;
    font-weight: 300;
    color: var(--darkGray);
}

.home-bottom-part-signature {
    margin-top: 37px;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    color: var(--textGray);
}