.profile-main {
    display: flex;
    flex-direction: column;

    background-color: var(--backgroundLight);
    align-items: center;
}

.profile-container {
    display: flex;
    padding: 103px 130px;
    width: 1440px;
    gap: 28px;
}

.profile-main .account-card {
    min-width: 341px;
}

.profile-container .user-books-row:nth-child(odd) {
    background-color: #fff;
}

.profile-container .user-books-row:nth-child(even) {
    background-color: var(--lightGray2);
}

.user-books-row:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}