@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(./header.css);
@import url(./footer.css);
@import url(./home.css);
@import url(./bookCard.css);
@import url(./books.css);
@import url(./bookDetail.css);
@import url(./sign.css);
@import url(./account.css);
@import url(./error.css);
@import url(./profile.css);
@import url(./bookForm.css);
@import url(./message.css);
@import url(./thread.css);

@font-face {
    font-family: playfair;
    /* set name */
    src: url('../font/playfair-display.regular.ttf');
    /* url of the font */
}

/**
 * Reset css.
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * Déclaration des couleurs.
 */
:root {
    --darkGray: #292929;
    --lightGray: #F5F3EF;
    --primary: #00AB6C;
    --secondary: #006D41;
    --textGray: #A6A6A6;
    --backgroundLight: #FAF9F7;
    --availableTag: #6DC5A1;
    --unavailableTag: #C56D6D;
    --lightGray2: #EDF2F6;
    --white: #F0F0F0;
}

/**
 * Valeur par défaut pour les balises.
 */
body {
    background-color: var(--lightGray);
    font-family: 'inter';
}

a {
    border: none;
    outline: none;
    text-decoration: none;
}

a:visited {
    outline: none;
    text-decoration: none;
}

select,
::picker(select) {
    appearance: base-select;
}

select {
    flex: 1;
    transition: 0.4s;
}

select::picker-icon {
    color: car(--darkGray);
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}

::picker(select) {
    border: none;
    box-shadow: 6px 6px 18px 0 var(--textGray);
}

option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 6px;
    border: 1px solid var(--white);
    background: var(--backgroundLight);
    padding: 10px;
    transition: 0.4s;
    font-size: 14px;
    color: var(--darkGray);
}

option:first-of-type {
    border-radius: 8px 8px 0 0;
}

option:last-of-type {
    border-radius: 0 0 8px 8px;
}

option:nth-of-type(odd) {
    background: #fff;
}

option:hover,
option:focus,
option:checked:hover {
    background-color: var(--lightGray2);
}

::picker(select) {
    border-radius: 8px;
}

option:not(option:last-of-type) {
    border-bottom: none;
}

main {
    background-color: var(--backgroundLight);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .title {
    font-family: playfair;
    font-size: 32px;
    font-weight: 400;
    color: var(--darkGray);
}

.cta {
    background-color: var(--primary);
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-align: center;
    transition: all 300ms ease-out;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
}

.cta2 {
    background-color: var(--lightGray);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.cta:hover {
    background-color: var(--secondary);
    color: #fff;
    border-color: var(--secondary);
}

.avatar {
    display: flex;
    align-items: center;
    height: 60px;
    opacity: 1;
    border-radius: 114px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 17px;
    gap: 12px;
    background-color: #fff;
    justify-self: flex-start;
}

.avatar-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar-nickname {
    font-size: 14px;
    color: var(--darkGray);
}

.hidden {
    display: none;
}