@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(./header.css);
@import url(./footer.css);
@import url(./home.css);
@import url(./bookCard.css);
@import url(./books.css);

@font-face {
    font-family: playfair;
    /* set name */
    src: url('../font/playfair-display.regular.ttf');
    /* url of the font */
}

/**
 * Reset css.
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * Déclaration des couleurs.
 */
:root {
    --darkGray: #292929;
    --lightGray: #F5F3EF;
    --primary: #00AB6C;
    --secondary: #006D41;
    --textGray: #A6A6A6;
    --backgroundLight: #FAF9F7;
    --availableTab: #6DC5A1;
    --unavailableTab: ##C56D6D;
}

/**
 * Valeur par défaut pour les balises.
 */
body {
    background-color: var(--lightGray);
    font-family: 'inter';
}

a {
    border: none;
    outline: none;
    text-decoration: none;
}

main {
    background-color: #fff;
}

main .title {
    font-family: playfair;
    font-size: 32px;
    font-weight: 400;
    color: var(--darkGray);
}

.cta {
    display: inline-block;
    background-color: var(--primary);
    padding: 22px 38px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-align: center;
    transition: all 300ms ease-out;
    border: 1px solid var(--primary);
}

.cta2 {
    background-color: var(--lightGray);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.cta:hover {
    background-color: var(--secondary);
    color: #fff;
    border-color: var(--primary);
}