@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: playfair;
    /* set name */
    src: url('../font/playfair-display.regular.ttf');
    /* url of the font */
}

/**
 * Reset css.
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * Déclaration des couleurs.
 */
:root {
    --darkGray: #292929;
    --lightGray: #F5F3EF;
    --primary: #00AB6C;
    --textGray: #A6A6A6;
    --backgroundLight: #FAF9F7;
}

/**
 * Valeur par défaut pour les balises.
 */
body {
    background-color: var(--lightGray);
    font-family: 'inter';
}

a {
    border: none;
    outline: none;
    text-decoration: none;
}

header nav {
    align-items: center;
    background-color: var(--lightGray);
    display: flex;
    height: 80px;
    min-height: 80px;
}

header nav a,
header nav a:visited {
    border: none;
    color: var(--darkGray);
    font-size: 14px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 400;
}

header nav a:hover,
header nav a.active {
    font-weight: 600;
}

header nav .logo {
    margin-left: 120px;
}

header nav .home {
    margin-left: 63px;
    width: 45px;
}

header nav .exchangeBooks {
    margin-left: 37px;
}

header nav .line {
    background-color: var(--textGray);
    height: 19px;
    width: 1px;
    margin-left: auto;
    margin-right: 46px;
    opacity: 20%;
}

header nav .messaging {
    margin-right: 47px;
    width: 100px;
}

header nav .messagingTxt {
    display: inline-block;
    width: 80px;
}

header nav .messaging img,
header nav .account img {
    vertical-align: text-bottom;
}

header nav .messaging .bubble {
    background-color: var(--darkGray);
    border-radius: 6.75px;
    display: inline-block;
    height: 15px;
    text-align: center;
    width: 10.5px;
    vertical-align: bottom;
}

header nav .messaging .bubbleText {
    color: var(--lightGray);
    display: inline-block;
    font-size: 8.25px;
    font-weight: 700;
    height: 10px;
    vertical-align: top;
    width: 5px;
    padding-top: 3px;
}

header nav .account {
    margin-right: 48px;
}

header nav .accountTxt {
    display: inline-block;
    width: 86px;
}

header nav .signin {
    margin-right: 120px;
    display: inline-block;
    width: 65px;
}

footer {
    align-items: center;
    background-color: #fff;
    color: var(--darkGray);
    display: flex;
    font-size: 12px;
    height: 61px;
    justify-content: flex-end;
    min-height: 61px;
}

footer .privacy-policy {
    margin-right: 33px;
}

footer .legal-notice {
    margin-right: 33px;
}

footer .title {
    margin-right: 33px;
}

footer .logo-min {
    margin-right: 36px;
}

main {
    background-color: #fff;
}

.title {
    font-family: playfair;
    font-size: 32px;
    font-weight: 400;
    color: var(--darkGray);
}

.home-top-part {
    display: flex;
    padding: 80px 0 128px;
    flex-direction: row;
    background-color: var(--lightGray);
    justify-content: center;
}

.home-top-part .left-part {
    width: 404px;
    display: flex;
    padding-right: 75px;
    flex-direction: column;
    justify-content: flex-end;
}

.home-top-part-title {
    font-size: 36px;
}

.home-top-part-desc {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 300;
}

.cta {
    display: inline-block;
    background-color: var(--primary);
    padding: 22px 38px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.cta2 {
    background-color: var(--lightGray);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.home-top-part-button {
    width: 152px;
    margin: 39px 0 71px;
}

.home-top-part .right-part {
    width: 404px;
    height: 539px;
    background-image: url("../img/hamza-nouasria.jpg");
    position: relative;
}

.home-top-part .right-part::after {
    content: 'Hamza';
    position: absolute;
    right: 0;
    bottom: -28px;
    font-size: 12px;
    color: var(--textGray);
    transform: skewX(-15deg);
}

.home-middle-part {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundLight);
    padding-top: 79px;
    padding-bottom: 64px;
    align-items: center;
}

.home-middle-part-books {
    margin-top: 79px;
}

.home-middle-part-button {
    margin-top: 48px;
}

.home-bottom-part {
    display: flex;
    padding: 79px 0 88px;
    flex-direction: row;
    background-color: var(--lightGray);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-bottom-part-desc {
    margin-top: 22px;
    font-size: 16px;
    font-weight: 300;
    color: var(--darkGray);
    width: 397px;
}

.home-bottom-part-steps {
    display: flex;
    margin-top: 38px;
    gap: 36px;
}

.home-bottom-part-step {
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    padding: 30px;
    text-align: center;
    width: 215px;
    display: flex;
    align-items: center;
}

.home-bottom-part-button {
    margin-top: 48px;
}

.home-bottom-part-image {
    margin-top: 80px;
    background-image: url(../img/our_values.jpg);
    height: 230px;
    align-self: normal;
}

.home-bottom-part-our-values {
    margin-top: 77px;
    position: relative;
}

.home-bottom-part-our-values::after {
    position: absolute;
    content: url(../img/heart.svg);
    right: -70px;
    bottom: -79px;
}

.home-bottom-part-desc2 {
    margin-top: 27px;
    width: 392px;
    align-self: flex-start;
    font-size: 16px;
    font-weight: 300;
    color: var(--darkGray);
}

.home-bottom-part-signature {
    margin-top: 37px;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    color: var(--textGray);
}