@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url(./header.css);
@import url(./footer.css);
@import url(./home.css);
@import url(./bookCard.css);
@import url(./books.css);
@import url(./bookDetail.css);
@import url(./sign.css);
@import url(./account.css);
@import url(./error.css);
@import url(./profile.css);
@import url(./bookForm.css);
@import url(./message.css);
@import url(./discussion.css);

@font-face {
    font-family: playfair;
    /* set name */
    src: url('../font/playfair-display.regular.ttf');
    /* url of the font */
}

/**
 * Reset css.
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * Déclaration des couleurs.
 */
:root {
    --availableTag: #6DC5A1;
    --backgroundLight: #FAF9F7;
    --darkGray: #292929;
    --lightGray: #F5F3EF;
    --lightGray2: #EDF2F6;
    --primary: #00AB6C;
    --secondary: #006D41;
    --textGray: #A6A6A6;
    --unavailableTag: #C56D6D;
    --white: #F0F0F0;
}

/**
 * Valeur par défaut pour les balises.
 */
body {
    background-color: var(--lightGray);
    font-family: 'inter';
}

button {
    background: none;
    border: none;
    font-family: 'inter';
    outline: none;
    text-decoration: none;
}

input[type="file"] {
    display: none;
}

label.link {
    cursor: pointer;
}

/*select,
::picker(select) {
    appearance: base-select;
}*/

select {
    flex: 1;
    transition: 0.4s;
}

/*select::picker-icon {
    color: car(--darkGray);
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}

::picker(select) {
    border: none;
    box-shadow: 6px 6px 18px 0 var(--textGray);
    border-radius: 8px;
}
*/

option {
    background: var(--backgroundLight);
    border-radius: 6px;
    border: 1px solid var(--white);
    color: var(--darkGray);
    display: flex;
    font-size: 14px;
    gap: 20px;
    justify-content: flex-start;
    padding: 10px;
    transition: 0.4s;
}

option:first-of-type {
    border-radius: 8px 8px 0 0;
}

option:last-of-type {
    border-radius: 0 0 8px 8px;
}

option:nth-of-type(odd) {
    background: #fff;
}

option:hover,
option:focus,
option:checked:hover {
    background-color: var(--lightGray2);
}

option:not(option:last-of-type) {
    border-bottom: none;
}

form.flex {
    display: flex;
}

button {
    cursor: pointer;
}

main {
    background-color: var(--backgroundLight);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .title {
    color: var(--darkGray);
    font-family: playfair;
    font-size: 32px;
    font-weight: 400;
}

.cta {
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--primary);
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 63px;
    justify-content: center;
    text-align: center;
    transition: all 300ms ease-out;
}

.cta2 {
    background-color: var(--lightGray);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.cta:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: #fff;
}

.avatar {
    align-items: center;
    background-color: #fff;
    border-radius: 114px;
    display: flex;
    gap: 12px;
    height: 60px;
    justify-self: flex-start;
    opacity: 1;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 17px;
    padding-top: 6px;
}

.avatar:hover .avatar-nickname {
    color: var(--primary);
}

.avatar:hover img {
    filter: sepia(100%) hue-rotate(90deg) saturate(300%);
}

.avatar-image {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.avatar-nickname {
    color: var(--darkGray);
    font-size: 14px;
}

.hidden {
    display: none;
}

.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
}

.skip-link:focus {
    position: static;
    left: 0;
}

:focus {
    outline: 3px solid var(--secondary);
    outline-offset: 2px;
}