.thread-main {
    display: flex;
    height: 69px;
    align-items: center;
    gap: 12px;
    padding: 0 34px;
    background-color: var(--backgroundLight);
}

.thread-main.active {
    background-color: #fff;
}

.thread-image-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.thread-image-container img {
    width: 48px;
}

.thread-right {
    display: flex;
    gap: 6px;
    flex-direction: column;
    flex: 1;
}

.thread-right-header {
    display: flex;
    justify-content: space-between;
}

.thread-nickname,
.thread-send-at {
    font-size: 14px;
    color: var(--darkGray);
}

.thread-last-message {
    font-size: 12px;
    color: var(--textGray);
}


.thread-last-message.unread {
    font-weight: bold;
}