.book-detail {
    align-items: center;
    background-color: var(--lightGray);
    display: flex;
    flex-direction: column;
}

.book-detail-container {
    width: 1440px;
}

.book-detail-breadcrumb {
    align-items: center;
    background-color: var(--lightGray);
    color: var(--textGray);
    display: flex;
    font-size: 10px;
    height: 43px;
    padding-left: 150px;
}

.book-detail-breadcrumb button {
    color: var(--textGray);
    font-size: 10px;
}

.book-detail-main {
    display: flex;
}

.book-detail-img-container {
    min-height: 863px;
    min-width: 720px;
    overflow: hidden;
    position: relative;
}

.book-detail-img {
    left: -38px;
    position: absolute;
    top: -312px;
}

.book-detail-detail {
    background-color: var(--backgroundLight);
    padding: 59px 144px 37px 85px;
    width: 100%;
}

.book-detail-title {
    font-family: playfair;
    font-size: 36px;
    font-weight: 400;
}

.book-detail-author {
    color: var(--textGray);
    font-size: 16px;
    margin-top: 15px;
}

.book-detail-sep {
    border-bottom: none;
    border-top: 1px solid var(--textGray);
    height: 0px;
    margin: 32px 0;
    width: 27px;
}

.book-detail-desc-title,
.book-detail-owner-title {
    color: var(--darkGray);
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.book-detail-desc {
    margin-top: 16px;
}

.book-detail-desc p {
    font-size: 14px;
    margin-bottom: 17px;
}

.book-detail-owner-title {
    margin-top: 31px;
}

.book-detail-owner {
    margin-top: 15px;
}

.book-detail-button {
    margin-top: 81px;
    width: 100%;
}

/* ==========================================================
   responsive
   ========================================================== */

@media (max-width: 767px) {
    .book-detail-container {
        width: 100%;
    }

    .book-detail-main {
        flex-direction: column;
    }

    .book-detail-breadcrumb {
        display: none;
    }

    .book-detail-img-container {
        height: 449px;
        min-height: auto;
        min-width: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .book-detail-img {
        height: 612px;
        left: -19px;
        top: -162px;
        width: 408px;
    }

    .book-detail-detail {
        padding: 40px 20px 80px;
    }

    .book-detail-title {
        font-size: 30px;
    }

    .book-detail-author {
        margin-top: 38px;
    }

    .book-detail-button {
        margin-top: 40px;
    }
}