.messaging-main {
    background-color: var(--lightGray);
    display: flex;
    height: calc(100vh - 80px - 61px);
    justify-content: center;
}

.discussion-main:hover img {
    filter: sepia(100%) hue-rotate(90deg) saturate(300%);
}

.discussion-main:hover .discussion-nickname {
    color: var(--primary);
}

.messaging-discussions {
    background-color: var(--backgroundLight);
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 54px;
    width: 308px;
}

.messaging-discussions-title {
    font-family: playfair;
    font-size: 26px;
    padding-left: 34px;
}

.messaging-discussions-container {
    overflow-y: auto;
}

.messaging-current-discussion {
    background-color: var(--lightGray);
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
    padding: 35px 0 35px 44px;
    width: 831px;
}

.messaging-current-discussion-header {
    align-items: center;
    color: var(--darkGray);
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 6px;
}

.discussion-messages-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    overflow-y: auto;
    scrollbar-color: var(--textGray) var(--backgroundLight);
    scrollbar-width: thin;
}

.discussion-messages {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 0;
}

.messaging-current-discussion-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.messaging-current-discussion-message-header {
    align-items: center;
    color: var(--textGray);
    display: flex;
    font-size: 12px;
    gap: 6px;
}

.messaging-current-discussion-message-header.connected-user,
.messaging-current-discussion-message-content.connected-user {
    justify-content: flex-end;
}

.messaging-current-discussion-image-container {
    border-radius: 50%;
    height: 24px;
    overflow: hidden;
    position: relative;
    width: 24px;
}

.messaging-current-discussion-image-container img {
    left: -3px;
    position: absolute;
    width: 30px;
}

.messaging-current-discussion-message-content {
    display: flex;
}

.messaging-current-discussion-message-content span {
    background-color: #fff;
    border-radius: 3px;
    color: var(--darkGray);
    font-size: 12px;
    padding: 10px 19px;
}

.messaging-current-discussion-message-content.connected-user span {
    background-color: var(--lightGray2);
}

.messaging-send-message-form {
    display: flex;
    gap: 22px;
}

.messaging-send-message-form input {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid var(--white);
    color: var(--textGray);
    flex: 1;
    outline: none;
    padding: 0 40px;
}

.cta.messaging-submit-btn {
    height: 49px;
    width: 132px;
}

.messaging-current-discussion-back {
    display: none;
}

/* ==========================================================
   responsive
   ========================================================== */

@media (max-width: 767px) {
    .messaging-main {
        height: calc(100vh - 61px);
    }

    .messaging-discussions {
        width: 100%;
    }

    .messaging-current-discussion {
        padding: 22px 0 44px 20px;
    }

    .messaging-current-discussion-header,
    .discussion-messages,
    .messaging-send-message-form {
        margin-right: 20px;
    }

    .messaging-send-message-form {
        flex-direction: column;
    }

    .messaging-send-message-form .content {
        min-height: 49px;
    }

    .cta.messaging-submit-btn {
        width: 100%;
    }

    .messaging-current-discussion-back {
        color: var(--textGray);
        display: block;
        margin-bottom: -22px;
        text-align: left;
    }
}