.profile-main {
    align-items: center;
    background-color: var(--backgroundLight);
    display: flex;
    flex-direction: column;
}

.profile-container {
    display: flex;
    gap: 28px;
    padding: 103px 130px;
    width: 1440px;
}

.profile-main .account-card {
    min-width: 341px;
}

.profile-container .user-books-row:nth-child(odd) {
    background-color: #fff;
}

.profile-container .user-books-row:nth-child(even) {
    background-color: var(--lightGray2);
}

.user-books-row:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* ==========================================================
   responsive
   ========================================================== */

@media (max-width: 767px) {
    .profile-main {
        align-items: unset;
    }

    .profile-container {
        flex-direction: column;
        gap: 33px;
        padding: 73px 22px 10px;
        width: 100%;
    }

    .user-books-header {
        display: none;
    }

    .user-books-row {
        align-items: flex-start;
        border-radius: 20px;
        border: 1px solid var(--lightGray);
        display: grid;
        gap: 0px 0px;
        grid-template-areas:
            "area1 area2"
            "area1 area3"
            "area4 area4";
        grid-template-columns: 96px 1fr;
        grid-template-rows: 40px 40px 1fr;
        height: 251px;
        padding: 51px 55px;
    }

    .user-books-row-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: auto;
    }

    .area1 {
        grid-area: area1;
    }

    .area2 {
        grid-area: area2;
    }

    .area3 {
        grid-area: area3;
    }

    .area4 {
        grid-area: area4;
        margin-top: 20px;
    }

    .user-books-image-container {
        min-width: 78px;
    }

    .user-books-column-title {
        min-width: 158px;
    }

    .user-books-column-author {
        align-self: flex-end;
        margin-bottom: 10px;
    }

    .profile-container .user-books-row:nth-child(even) {
        background-color: #fff;
    }
}