.sign {
    display: flex;
    justify-content: center;
}

.sign-form-container {
    display: flex;
    flex-direction: column;
    padding: 130px 248px 0 150px;
}

.sign-title {
    font-family: playfair;
    font-size: 36px;
}

.sign-form {
    margin-top: 10px;
    width: 322px;
}

.sign-form-row,
.book-form-row {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.sign-form-row:first-of-type {
    margin-top: 25px;
}

.sign-form-row label,
.book-form-row label {
    color: var(--textGray);
    font-size: 14px;
}

.sign-form-row input,
.book-form-row input,
.book-form-row textarea,
.book-form select {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid var(--white);
    color: var(--darkGray);
    font-size: 14px;
    height: 50px;
    margin-top: 10px;
    outline: none;
    padding: 16px 14px;
}

.sign-submit-btn,
.book-submit-btn {
    cursor: pointer;
    margin-top: 30px;
    outline: none;
    width: 322px;
}

.sign-ask {
    color: var(--darkGray);
    font-size: 14px;
    margin-top: 40px;
}

.sign-ask button,
.book-form-back,
.book-form-image-upload {
    color: var(--darkGray);
    font-size: 14px;
    text-decoration-style: solid;
    text-decoration: underline;
}

/* ==========================================================
   responsive
   ========================================================== */

@media (max-width: 767px) {
    .sign {
        flex-direction: column;
    }

    .sign-form-container {
        padding: 78px 20px 99px;
    }

    .sign-title {
        font-size: 30px;
    }

    .sign-form {
        margin: 0;
    }

    .sign-form-row:first-of-type {
        margin-top: 31px;
    }

    .sign-submit-btn {
        margin-top: 32px;
        width: 100%;
    }

    .sign-ask,
    .sign-ask button {
        font-size: 16px;
    }

    .sign-ask {
        margin-top: 32px;
    }

    .sign-form-container img {
        margin-bottom: 8px;
    }
}